.itemCard {
    padding: 15px;
}
.itemName {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 21px;
}
.card {
    padding: 5px;
}
.borderBottom {
    border-bottom: 1px solid #c2c2c2;
}
.displayLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.boxMoves {
    height: 54px
}
.favoritesBtn {
    font-size: 18px;
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-90deg,#a3278f,#e52f50);
}